brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.11.2
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
numpy==1.22.2
ordereddict==1.1
protobuf==3.19.4
pyOpenSSL==22.0.0
simplejson==3.17.6
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
xmlrpclib==1.0.1
zipp==3.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
docopt==0.6.2
idna==3.3
pipreqs==0.4.11
pymousebot==1.0.0
pyobjc-core==8.3
pyobjc-framework-Cocoa==8.3
pyobjc-framework-Quartz==8.3
requests==2.27.1
urllib3==1.26.8
yarg==0.1.9
pypiwin32==223
pywin32==303